%h1 Projects
%p= link_to "New project", new_admin_project_path
%table
  %thead
    %tr
      %th
      %th Title
      %th Status
      %th Date
      %th
  %tbody
    - @projects.each do |project|
      %tr
        %td
          - if project.thumbnail.present?
            %img{src: "/uploads/projects/#{project.thumbnail}", alt: project.title, style: "max-height: 50px"}
        %td= link_to project.title, edit_admin_project_path(project)
        %td= project.status.capitalize
        %td= project.project_date&.strftime("%B %Y")
        %td= button_to "Delete", admin_project_path(project), method: :delete, class: "btn-sm"
